<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row  m-5">
        
          <div class="col-3 m-5">
            <h1>About Me</h1>

          </div>
        
          <div class="col-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, optio dolores hic culpa laudantium nesciunt ut natus. Soluta iusto, quo ea cum asperiores quisquam error unde consequatur similique eveniet corporis! Lorem ipsum dolor sit, amet consectetur <br>adipisicing elit. Illo doloremque ex hic maxime quisquam repellendus, itaque a quas vero autem! Magni, repudiandae? Impedit, reiciendis accusantium <br>adipisci doloremque vel laborum ipsum.
         <br>   <button type="button" class="btn btn-dark"> <a href="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" download> DOWNLOAD</a></button>
        </div>
     </div>
      </div>
</body>
</html>
