<div class="container">
    <div class="row g-5 ">
      <div class="col-4  opacity-75 ">
        <div class="card bg-secondary" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-white">Card subtitle</h6>
              <p class="card-text  text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
      </div>

      <div class="col-4 opacity-75">
        <div class="card  bg-dark" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title text-muted">Card title</h5>
              <h6 class="card-subtitle mb-2 text-white">Card subtitle</h6>
              <p class="card-text  text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
      </div>

      <div class="col-4 ">
        <div class="card bg-secondary" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-white">Card subtitle</h6>
              <p class="card-text  text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
      </div>

      <div class="col-4 ">
        <div class="card bg-dark opacity-75" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-white">Card subtitle</h6>
              <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
      </div>
      <div class="col-4 ">
        <div class="card  bg-secondary opacity-75" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-white">Card subtitle</h6>
              <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
      </div>
      <div class="col-4  ">
        <div class="card bg-dark opacity-75" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-white">Card subtitle</h6>
              <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            
            </div>
          </div>
      </div>
    </div>
  </div>
  
